body{  
    font-family: 'Montserrat', sans-serif;          
    background: rgb(2,0,36);
    background: linear-gradient(211deg, rgba(2,0,36,1) 0%, rgba(0,30,148,1) 62%, rgba(0,22,255,1) 93%);
    background-attachment: fixed;
}

h2 {
    font-size: 72px;
    font-weight: bold;
}

input, textarea{
    background-color: rgba(255, 255, 255, 1) !important;
    color: rgb(0,22,255) !important;

}

input::placeholder, textarea::placeholder{
    color: rgba(0,22,255,0.8) !important;    
    font-weight:bold;
}

.card{
    color: #4FC3F7;
}

.card:hover{
    color: white;
}

.bg-opacity{
    background-color: rgba(0, 0, 0, .5);
}